default_language_version:
  python: python3.8

repos:
  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.9.2
    hooks:
      - id: flake8
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.780
    hooks:
      - id: mypy
        args: []
        pass_filenames: false
        additional_dependencies: [
          "numpy==1.20.1",
          "pytest==6.2.5"
        ]
