alabaster
babel
certifi
chardet
docutils
idna
imagesize
jinja2
markupsafe
packaging
pygments
pyparsing
pytz
requests
six
snowballstemmer
sphinx
sphinxcontrib-asyncio==0.2.0
sphinxcontrib-websupport
sphinx-rtd-theme
urllib3
