alabaster
babel
certifi
chardet
docutils
idna
imagesize
jinja2
markupsafe
packaging
pygments
pyparsing
pytz
requests
six
snowballstemmer
sphinx
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
sphinxcontrib-websupport
sphinx-rtd-theme
urllib3
