appdirs
argparse
cffi
decorator
funcsigs                   # Needed by numba
katversion
llvmlite                   # Needed by numba
mako
markupsafe
numba
numpy
pandas
pkginfo
py
pycparser
pycuda
pyopencl
pytest
python-dateutil            # Needed by Pandas
pytools
pytz                       # Needed by Pandas
scipy
typing_extensions
