appdirs
argparse
cffi
decorator
enum34; python_version<'3.4'   # Needed by numba
funcsigs                   # Needed by numba
futures
katversion
llvmlite                   # Needed by numba
mako
markupsafe
numba
numpy
pandas
pkginfo
py
pycparser
pycuda
pyopencl
pytest
python-dateutil            # Needed by Pandas
pytools
pytz                       # Needed by Pandas
scipy
singledispatch; python_version<'3.4'  # Needed by numba
six
trollius
