appdirs
argparse
cffi
decorator
futures
katversion
mako
markupsafe
numpy
pandas
pkginfo
py
pycparser
pycuda
pyopencl
pytest
python-dateutil            # Needed by Pandas
pytools
pytz                       # Needed by Pandas
scipy
six
trollius
