-c https://raw.githubusercontent.com/ska-sa/katsdpdockerbase/master/docker-base-build/base-requirements.txt

# Extra requirements/version pins for readthedocs.org
# These are needed because readthedocs doesn't install requirements.txt
# (and it can't, because things like pycuda won't install).
appdirs
decorator
mako
numba
pandas
pytest
pytest-asyncio
scipy
typing_extensions

sphinx
